SET NAMES utf8mb4;

-- Crear base de datos de la API
CREATE DATABASE IF NOT EXISTS ${MYSQL_DATABASE};

-- Crear tabla de productos
CREATE TABLE IF NOT EXISTS ${MYSQL_DATABASE}.product (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Inicializar la tabla de productos con algunos datos
INSERT INTO ${MYSQL_DATABASE}.product (name, price) VALUES ('Product 1', 10.99);
INSERT INTO ${MYSQL_DATABASE}.product (name, price) VALUES ('Product 2', 20.99);
INSERT INTO ${MYSQL_DATABASE}.product (name, price) VALUES ('Product 3', 30.99);

-- Crear base de datos de autenticación
CREATE DATABASE IF NOT EXISTS ${AUTH_DATABASE};

-- Crear bases de datos de testing
CREATE DATABASE IF NOT EXISTS ${TEST_API_DATABASE};
CREATE DATABASE IF NOT EXISTS ${TEST_AUTH_DATABASE};

-- Otorgar permisos al usuario
GRANT ALL PRIVILEGES ON ${AUTH_DATABASE}.* TO '${MYSQL_USER}'@'%';
GRANT ALL PRIVILEGES ON ${TEST_API_DATABASE}.* TO '${MYSQL_USER}'@'%';
GRANT ALL PRIVILEGES ON ${TEST_AUTH_DATABASE}.* TO '${MYSQL_USER}'@'%';
FLUSH PRIVILEGES;