# Configuración de MySQL
MYSQL_ROOT_PASSWORD=example
MYSQL_USER=example
MYSQL_PASSWORD=example
MYSQL_DATABASE=sample_api

# Base de datos de autenticación
AUTH_DATABASE=auth_api

# Bases de datos de testing
TEST_API_DATABASE=sample_api_test
TEST_AUTH_DATABASE=auth_api_test

# Puertos
NGINX_PORT=80
MYSQL_PORT=3306
PHP_PORT=9000

# Rutas de volúmenes
APP_PATH=.

# JWT Configuration
JWT_SECRET=your-secret-key-here